
@{
    ViewData["Title"] = "showCountBySession";
}

<h1>showCountBySession</h1>


@using (Html.BeginForm())
{
    <h1>@ViewBag.COUNT</h1>
    <p>
        <input type="submit" value="OK"/>
    </p>
}
